<h3>{{ item.item_name }}</h3>
<h4>{{ item.brand_name }}</h4>

<span>{{ item.nf_serving_size_qty }}</span>
<span>{{ item.nf_serving_size_unit }}</span><br>
<hr>

<div class="row">

	<div class="col-sm-4">
		<p>Calories: {{ item.nf_calories }}</p>
		<p>Fat: {{ item.nf_total_fat }}</p>
		<p>Carbs: {{ item.nf_total_carbohydrate }}</p>
		<p>Protein: {{ item.nf_protein }}</p>
        <add-item></add-item>
	</div>

    <!--
	<div class="col-sm-4">
		<p>Calories from fat: {{ item.nf_calories_from_fat }}</p>
		<!-- <p>more fat info will be here!</p> TODO: more fat info here
	</div>
    -->

    <!--
	<div class="col-sm-4">
		<p>fiber, sugars, and misc will be here!</p> <!-- TODO: fiber, sugar, and misc here
	</div>
    -->

</div>