<h3>{{ item.item_name }}</h3>
<h4>{{ item.brand_name }}</h4>

<span>{{ item.nf_serving_size_qty }}</span>
<span>{{ item.nf_serving_size_unit }}</span><br>
<hr>

<div class="row">

	<div class="col-sm-4">
		<p>Total calories: {{ item.nf_calories }}</p>
		<p>Total fat: {{ item.nf_total_fat }}</p>
		<p>Total carbohydrates: {{ item.nf_total_carbohydrate }}</p>
		<p>Total protein: {{ item.nf_protein }}</p>
	</div>

	<div class="col-sm-4">
		<p>Calories from fat: {{ item.nf_calories_from_fat }}</p>
		<p>more fat info will be here!</p> <!-- TODO: more fat info here -->
	</div>

	<div class="col-sm-4">
		<p>fiber, sugars, and misc will be here!</p> <!-- TODO: fiber, sugar, and misc here-->
	</div>

</div>